<div class="container">
  <div class="page-header">
    <h2>About me</h2>
  </div>
  <div class="jumbotron">
    <p>I like Ember!</p>
    <img src="http://www.gravatar.com/avatar/f7e4cd2e6ef114ebc5c0d4250c278e6b?s=200" alt="Image not found! :/">

    <br>

    {{#link-to "index"}}Home{{/link-to}}
  </div>
</div>
